<div class="quiz-container">
    <div class="quiz-logo">
        <img src="../../../assets/img/logo.png" alt="Logo">
        <h3>Título</h3>
    </div>    

    <div class="quiz-questions">
        <h3>Questão Selecionada</h3>
    </div>

    <div class="quiz-options">
        <button
            class="btn-option"
        >
            Option
        </button>

        <button
        class="btn-option"
        >
            Option
        </button>

        <button
        class="btn-option"
        >
            Option
        </button>

        <button
        class="btn-option"
        >
            Option
        </button>
    </div>

    <div class="quiz-results">
        <h3>O seu resultado é:</h3>
        <p>Resposta</p>
    </div>
</div>
